<head>
    <link rel="stylesheet" href="~/css/addresseesPageStyle.css"/>
</head>

<div class="addresseesPageContent">
    <div class="textArea">
        <h1>Управление адресатми</h1>
        <p>Здесь вы можете управлять адресатами</p>
    </div>

    <div class="addresseesInfo">
        <div class="searchBlock">
            <input type="text"/>
        </div>
        <div class="controlButtonsGroup">
            <ul>
                <li class="customButton createGroupButton">
                    Добавить
                </li>
            </ul>
        </div>
        <table class="addresseesTable">
            <thead>
                <tr>
                    <th>
                        Контакт
                    </th>
                    <th>

                    </th>
                </tr>
            </thead>
            <tbody>
                
            </tbody>
        </table>

    </div>

    <script src="~/js/addresseesPageScripts.js"></script>
</div>